*{
	padding: 0px;
	margin: 0px;
}

html, body{
	width: 100%;
	height: 100%;
}
	

.main{
	position: absolute;
	display: flex;
	width: 100%;
	height: 100%;
	border: 1px solid black;
	background-image: linear-gradient(180deg, black, gray, black);
	box-sizing: border-box;
}



#radius{
		position: absolute; 
		display: top;
		margin-left: 500px;
		margin-top: 80px;
		border-bottom-left-radius:  90px;
		border-bottom-right-radius: 90px;
		border-top-right-radius: 90px;
		border-top-left-radius: 90px;
		border: 1px solid black;
		width: 250px;
		height: 250px;
		background-image: linear-gradient(45deg, #ff0066, pink, #cc0052);
		
	}
.input_main {
	position: left;
	margin-top: 50px;
	margin-left: 50px;
	width: 400px;
	height: 200px;

}

.input{
	margin-top: 5px;
	margin-bottom: 5px;
}



p{
	color:antiquewhite;
}

.textarea, textarea{
	width: 250px;
	
}

.textarea{
	margin-top: 400px;
	margin-left: 50px;
}
